<p>夢絵日記・ログインのパスワードリセットの申請を受け付けました。</p>

<p>パスワードの再設定ご希望の場合は、「パスワードを再設定をする」から新しいパスワードをご登録ください。</p>

<p><%= link_to 'パスワードを再設定する', edit_api_v1_user_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

<p>※ＵＲＬの有効期限は２４時間です。<br/>
<p>※このメールに心当たりの無い方は、お手数ですが破棄をお願いします。<br/>
<p>※送信専用のメールアドレスのため返信はできません。</p>